<!DOCTYPE html>
<html>
<script>
    function goTagplus(){
        document.location.href = "/tagplus/login";
    }
</script>
<body>

<button type="button" onclick="goTagplus()">
<img src="https://www.tagplus.com.br/wp-content/themes/landing_gat/img/social/tagplus-logo-fb-290-290.png" alt="Smiley face" width="42" height="42"><br>Vincular Tagplus</button>
</body>
</html>